{%- set my_master_port = [] -%}

{%- set times = groups['redis_masters'] | length -%}

{%- for i in range(times) -%}
  {%- set str = i | string -%}
  {%- set gname = 'master' + str + '_slaves' -%}
  {%- if inventory_hostname_short in groups[gname]  -%}
    {%- set port = hostvars[groups['redis_masters'][i]]['redis_port'] | string -%}
    {%- set _ = my_master_port.append(port) -%}
  {%- endif -%}
{%- endfor -%}

{%- set my_master_port = ("").join(my_master_port) -%}

{{ my_master_port | to_yaml }}