---

packages_info:
  - name: proxysql
    url: {{ proxysql_dpkg_url }}/v{{ proxysql_version }}/proxysql_{{ proxysql_version }}-ubuntu18_amd64.deb
    version: {{ proxysql_version }}
{% if package_tar_st is defined %}
    state: {{ package_tar_st['results'][0].stat.exists | default(false) }}
{% endif %}
  - name: xtrabackup
    url: {{ xtrabackup_dpkg_url }}
    version: {{ xtrabackup_version }}
{% if package_tar_st is defined %}
    state: {{ package_tar_st['results'][1].stat.exists | default(false) }}
{% endif %}
{% for name in names %}
  - name: {{ name }}
    url: {{ mysql_dpkg_url }}/{{ name }}_{{ mysql_version }}-1ubuntu18.04_amd64.deb
    version: {{ mysql_version }}
{% if package_tar_st is defined %}
    state: {{ package_tar_st['results'][loop.index + 1].stat.exists | default(false) }}
{% endif %}
{% endfor %}
