{
  "refName": "zookeeper",
  "serviceType": "ZOOKEEPER",
  "roleConfigGroups": [
    {
      "refName": "zookeeper-SERVER-BASE",
      "roleType": "SERVER",
      "configs": [
      ],
      "base": true
    }
  ]
}